<main>
  <div class="container">
    <div class="h1-container">
      <h1>Tic Tac Toe</h1>
      <p class="subtitle">Made with ❤️ by Denise 👩‍💻</p>
    </div>

    <div class="board-container">
      <div class="board" *ngFor="let val of board; let i = index">
        <button
          [ngClass]="val === 'X' ? 'black' : 'red'"
          class="btn square"
          (click)="onClick(i)"
          [disabled]="winner"
        >
          {{ val }}
        </button>
      </div>
    </div>

    <div class="score">
      <div *ngIf="!winner; then current; else win"></div>
      <ng-template #current>
        <p>
          Current player: <span>{{ currentPlayer }}</span>
        </p>
      </ng-template>
      <ng-template #win>
        <p>
          Winner:
          <span>{{ winner }}</span>
        </p>
      </ng-template>
    </div>

    <div class="restart-btn-container">
      <button mat-stroked-button (click)="onRestart()" class="restart-btn">
        Restart
      </button>
    </div>
  </div>
</main>
